@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Permanent+Marker&display=swap");

// Colors
$verdigris: rgba(68, 187, 164, 1);
$charcoal: rgba(53, 71, 85, 1);
$gunmetal: rgba(48, 52, 63, 1);
$queenBlue: rgba(67, 124, 144, 1);
$darkTerraCotta: rgba(219, 84, 97, 1);
$white: rgba(255, 255, 255, 0.8);
