@import "../../variables";

.File {
  padding: 1.2rem 1rem;

  border-radius: 0.2rem;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  background: linear-gradient(to bottom left, $charcoal, darken($charcoal, 5%));
  // background: $charcoal;
  text-shadow: -1px 1px 2px $gunmetal;

  transition: transform ease-in-out 150ms;

  box-shadow: -2px 2px 0px 2px darken($gunmetal, 2%);

  &:hover {
    transform: translateY(-0.2rem);
  }
}

.icon {
  fill: $white;
  height: 1rem;
  margin-right: 0.5rem;
  filter: drop-shadow(-1px 1px 2px $gunmetal);
  transform: scale(1.2);
}
