.Appears {
  overflow: auto;
  margin: -1em;
  padding: 1em;
  animation: opacityIn ease-in-out 150ms both;
}

@keyframes opacityIn {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
