@import "../../variables";

h2 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.FileSystem {
  display: flex;
}

.explorer {
  flex: 1 1 0;
  overflow: auto;
}

.container {
  margin: 1rem;
}

.directories,
.files {
  display: grid;
  grid-column-gap: 1.2rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  // grid-template-columns: repeat(1, minmax(24em, 1fr));
}
