@import "../../variables";

.Directory {
  display: block;
  padding: 1.5rem 1rem;

  border-radius: 0.2rem;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  background: linear-gradient(
    to bottom left,
    $queenBlue,
    darken($queenBlue, 5%)
  );
  // background: $queenBlue;
  color: $white;
  text-shadow: -1px 1px 2px $gunmetal;
  text-decoration: none;

  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;

  box-shadow: -2px 2px 0px 2px $charcoal;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &:active {
    transition-duration: 50ms;
    transform: translateY(0.1rem);
  }
}

.icon {
  fill: $white;
  height: 1rem;
  margin-right: 0.5rem;
  filter: drop-shadow(-1px 1px 2px $gunmetal);
  transform: scale(1.2);
}
