@import "../../variables";

.PathNavigator {
  padding: 1rem;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
  background-color: $white;

  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;
}

.crumb {
  display: inline-block;
  padding: 0 0.2em;

  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;

  opacity: 0.5;

  color: $charcoal;
  text-decoration: none;

  &:before {
    content: "/";
    margin-right: 0.4em;
  }

  &:hover ~ .crumb {
    opacity: 0.4;
  }
}

.icon {
  fill: $charcoal;
  height: 1.5rem;
  padding: 0;
}

.crumb:hover,
.highlight {
  opacity: 1;
}
